#ant stuff
build.xml
/bin/
/download/
#Remove OS generated garbage
*/.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
#gradle stuff
/.gradle
/build/
#/run/
#IDEA files from Gradle
out/
.idea/
/*.iml
/*.ipr
/*.iws
#Vim backups
*~
#eclipse stuffs
/.classpath
/.project
/.settings/

run/
lib/Thaumcraft-deobf-1.7.10-4.2.1.4