#Ant Stuff
build.xml
/bin/
/download/
#Remove OS generated garbage
*/.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
#Gradle Stuff
/.gradle
/build/
/run/
#IDEA files from Gradle
out/
.idea/
/*.iml
/*.ipr
/*.iws
#Vim backups
*~
#eclipse stuffs
/.classpath
/.project
/.settings/
#Possibly Redundant Stuff
\run
\.gradle
\.idea
\build
#\lib
*.iml
*.ipr
*.iws
\out
\bin
.classpath
.project
.settings/

lib/Thaumcraft-deobf-1.7.10-4.2.3.5.jar
lib/magicbees-1.7.10-2.4.3-dev.jar
lib/CoFHCore-[1.7.10]3.1.4-329-dev.jar
lib/ThermalFoundation-[1.7.10]1.2.6-118-dev.jar
lib/ThermalExpansion-[1.7.10]4.1.5-248-dev.jar
lib/ThermalDynamics-[1.7.10]1.2.1-172-dev.jar
lib/RedstoneArsenal-[1.7.10]1.1.2-92-dev.jar
src/main/java/mortvana/oldpfgcode/
/null